@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-container{
    display: flex;
    border: top left radius .1rem;
}
.card{
    background-color:  hsl(31, 77%, 52%);
    width: 10rem;
    height:20rem;
    padding: 4rem;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    position: relative;
}
.card-title{
    font-family: 'Big Shoulders Display',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
}
.card-description{
    color:  hsla(0, 0%, 100%, 0.514);
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 400;
    font-size: 15px;    
    line-height: 23px;
}
.btn-more{
    border-radius: 30px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca',sans-serif;
    font-weight: 400;
    height: 3rem;
    width: 10rem;
    border: none; 
    float: left;
    position: relative;
    left: 0px;
    
}
.btn-more:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}
.card:nth-child(2){
    background-color: hsl(184, 100%, 22%);    
    border-radius: 0;
}
.card:nth-child(2) .btn-more{
    color:hsl(184, 100%, 22%);
}
.card:nth-child(2) .btn-more:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}
.card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
}
.card:nth-child(3) .btn-more{
    color:hsl(179, 100%, 13%);   
}
.card:nth-child(3) .btn-more:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
}

.attribution{
    position: absolute;
    top: 93%;
    left: 2%;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}
.attribution a{
    color: #4e1a7e;   
}
.attribution a:visited{
    color: #4e1a7e;   
}
@media (max-width:600px){
    .main-container{        
        flex-direction: column;
        margin: 0;
    }
    .card{
        width: 70%;
        margin: auto;
    }
    body{
        overflow: auto;
    }
}